<div
  class="
    h-100
    col-6 col-md-4 col-lg-3
    mx-auto
    d-flex
    flex-column
    justify-content-center
  "
  id="login-wrapper"
>
  <form id="login-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Login</h1>
    <hr />
    <div class="row mb-3">
      <strong for="username" class="form-label align-self-center mb-3"
        >Username</strong
      >
      <div class="col">
        <input class="form-control" id="username" formControlName="username" />
      </div>
    </div>
    <div class="row mb-3">
      <strong for="password" class="form-label align-self-center mb-3"
        >Password</strong
      >
      <div class="col">
        <input
          class="form-control"
          id="password"
          type="password"
          formControlName="password"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button id="save" class="btn btn-primary w-100" [disabled]="isLoading">
          {{ !isLoading ? "Login" : "Loading" }}
        </button>
      </div>
    </div>
  </form>
</div>
